.jumbotron {
  margin: 0;
  padding: 15px;
  background-color: #B9A394;
  color: black;
  font-family: 'Caveat', cursive;
}

.navbar {
   background-color:#857E61;
   align-items: center;
}

.site-footer {
background-color: #B9A394;
color: white;
font-size: 25px;
padding: 20px 0;
text-align: center;
}

.content {
  max-width: 1050px;
  margin-left: 250px;
}

body {
    background-color: #E0E0E0;
    font-family: 'Caveat', cursive;
    text-align: justify;
    color: black;
}
h1 {
    padding-top: 25px;
    text-align: center;
}


p {
    font-size: 18px;
    font-family: 'IBM Plex Serif', serif; 
    text-align: justify;
}

img {
    border-radius: 50%;
    max-width: 300px;
    margin-left: 20px;
    padding-bottom: 10px;
}

form {
    display: inline;
}

.form-control {
    height: 50px;
    padding: 1px;
    border: 2px solid #eee
}

.btn-primary {
    height: 38px;
    margin-left: 5px;
    padding-left: 5px;
    width: 90px;
    font-size: 18px
    
}